<div class="shadow rounded width-100">
  <h3 class="text-center">Global statistics</h3>
  <div class="row">
    <div class="col-sm text-center">
      <h4 class="text-primary font-weight-bold">Infections</h4>
      <p> {{ @globalData.cases }} </p>
    </div>
    <div class="col-sm text-center">
      <h4 class="text-danger font-weight-bold">Deaths</h4>
      <p> {{ @globalData.deaths }} </p>
    </div>
    <div class="col-sm text-center">
      <h4 class="text-success font-weight-bold">Recoveries</h4>
      <p> {{ @globalData.recovered }} </p>
    </div>
    <div class="col-sm text-center">
      <h4 class="text-warning font-weight-bold">Critical</h4>
      <p> {{ @globalData.critical }} </p>
    </div>
  </div>
</div>
