<div class="mx-md-5 shadow rounded width-100">
  <div class="row">
    <div class="col-sm text-center">
      <p class="text-primary h4 font-weight-bold">Infections</p>
      <p> {{ @globalData.cases }} </p>
    </div>
    <div class="col-sm text-center">
      <p class="text-danger h4 font-weight-bold">Deaths</p>
      <p> {{ @globalData.deaths }} </p>
    </div>
    <div class="col-sm text-center">
      <p class="text-success h4 font-weight-bold">Recoveries</p>
      <p> {{ @globalData.recovered }} </p>
    </div>
    <div class="col-sm text-center">
      <p class="text-warning h4 font-weight-bold">Critical</p>
      <p> {{ @globalData.critical }} </p>
    </div>
  </div>
</div>
